.home-page {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.explore-features {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.hero {
    background-image: url('../assets/HomePageHead.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.search-bar {
    display: flex;
    width: 50%;
    max-width: 600px;
}

.search-bar input {
    flex-grow: 1;
    padding: 0.5rem;
    border: none;
}

.search-bar button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #f0f4c3;
}

.feature {
    text-align: center;
}

.feature-icon {
    font-size: 3rem;
    color: #2e7d32;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.hub-grid button{
    position: absolute;
    margin-left: 30ch;
    background-color: #2e7d32;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}